@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Ryefont';
  src: url('/fonts/ryefont.woff2') format('woff2'),
       url('/fonts/ryefont.woff') format('woff');
  font-weight:400;
  font-style: normal;
}
